<h2 class="page-explanation">パスワード変更画面</h2>
<%= form_for(resource, as: resource_name, url: update_password_path(resource_name), html: { method: :put }) do |f| %>
  <%=render 'layouts/error_message' %>
  <div class="form-container">
    <div class="field">
      <%= f.label :current_password, '現在のパスワード', {class: 'label-class'} %><br />
      <%= f.password_field :current_password, autofocus: true, autocomplete: 'current-password', placeholder: "現在のパスワード", class: 'form-field', required:"required" %>
    </div>
    <%# パスワードを変更した時にリダイレクトする画面を新しく作る %>
    <div class="field">
      <%= f.label :password, '新しいパスワード', {class: 'label-class'} %><em>（半角大文字小文字数字を１文字以上含んでください）</em><br />
      <%= f.password_field :password, autocomplete: 'new-password', autofocus: true, placeholder: "6文字以上", class: "form-field", required:"required" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, '新しいパスワード（確認）', {class: 'label-class'}%><em>（コピペしないでください）</em><br />
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', autofocus: true, placeholder: "6文字以上", class: "form-field", required:"required"%>
    </div>

    <div class="actions">
      <%= f.submit "変更する", class: "next-btn", data: { confirm: "パスワードを変更しますか？" }, method: :put %>
    </div>
  </div>
<% end %>