<div class="body-container position-body">
  <p class="page-explanation">登録した体重を編集します</p>
  <%= image_tag "taiju.png", size: "200x200", class: "new-day-img"%>
  <div class="form-container">
    <%= form_with model: @day, local: true do |f| %>
      <p class="radio-title">日付</p>
      <%= f.date_field :date, {class: "date_field"}%>
      <%= f.label :weight, "体重(kg)", {class: 'label-class'}%>
      <%= f.number_field :weight, step: "0.1", class: "form-field", required:"required", min: 30, max: 200 %>
      <p class="red-texts">※小数点第1位までしか入力できません</p>
      <div class="btn-container">
        <%= link_to "戻る", list_energy_path(date: @day.date), class:"back-btn" %>
        <%= f.submit "更新する", class: "register-btn" %>
      </div>
    <% end %>
  </div>
</div>