<p class="sub-explanation">毎日の記録を見てみましょう</p>
<%# <%= month_calendar days: @days do |date, weights| %>
  <%# <%= date.day %> 
 <%# <ul class="event-list"> %>
    <%# <% weights.each do |weight| %> 
    <%# <li class="list"> %>
      <%# <%= link_to edit_event_path(weight.id) do %> 
        <%# <%= date.weight %> 
      <%# <% end %> 
    <%# </li> %>
  <%# </ul> %>

  <%# <% end %> 
<%# <% end %>  

<%= month_calendar do |date| %>
  <%= date.day %>
  <%=@days%>
<% end %>