<div class="record-container">
  <p class="page-title">今日の記録</p>
  <div class="goal-weight">目標体重:<%= @goal_weight %>kg</div>
</div>
<p class="">ミッション</p>
<div class="today"><%= @today %></div>
<% if @protein_difference = @protein_amounts_sum - protein_amounts>0 %>
  <p class="green-coment"><%="あと#{@protein_difference}g食べれます" %></p>
<%elsif @protein_difference = @protein_amounts_sum - protein_amounts == 0 %>
  <p class="green-coment">ちょうどです</p>
<% else @protein_difference = @protein_amounts_sum - protein_amounts%>
  <p class="red-coment"><%="#{@protein_difference}gオーバしてます注意しましょう" %></p>
<% end %>

<% if @sugar_difference = @sugar_amounts_sum - sugar_amounts>0 %>
  <p class="green-coment"><%="あと#{@sugar_difference}g食べれます" %></p>
<%elsif @sugar_difference = @sugar_amounts_sum - sugar_amounts == 0 %>
  <p class="green-coment">ちょうどです</p>
<% else @sugar_difference = @sugar_amounts_sum - sugar_amounts%>
  <p class="red-coment"><%="#{@sugar_difference}gオーバしてます注意しましょう" %></p>
<% end %>

<% if @kcal_difference = @kcal_amounts_sum - kcal_amounts>0 %>
  <p class="green-coment"><%="あと#{@kcal_difference}g食べれます" %></p>
<%elsif @kcal_difference = @kcal_amounts_sum - kcal_amounts == 0 %>
  <p class="green-coment">ちょうどです</p>
<% else @kcal_difference = @kcal_amounts_sum - kcal_amounts%>
  <p class="red-coment"><%="#{@protein_difference}gオーバしてます注意しましょう" %></p>
<% end %>