<div class="record-container">
  <p class="page-title">今日の記録</p>
  <div class="goal-weight">目標体重:<%= goalweight %>kg</div>
</div>
<p class="">ミッション</p>
<div class="today"><%=@today%></div>
  <% @energys.each do |energy| %>
    <%= energy.protein.tap(&:to_i) %>
  <% end %>
  <%= @protein%>
   <%# <%binding.pry%>
         <% if @user.gender == "man" %>
        <% if @user.exercise == "everytime" %>
          <%= (@user.weight*1.2).round(0) %>
        <% else %>
          <%= (@user.weight*1).round(0) %>G
        <% end %>
      
        <% if @user.exercise == "everytime" %>
          2600kcal
        <% elsif @user.exercise == "Sometimes" %>
          2400kcal
        <% else %>
          2200kal
        <% end %>

  
        <% if @user.exercise == "everytime" %>
          390g
        <% elsif @user.exercise == "Sometimes" %>
          360g
        <% else %>
          330g
        <% end %>
  <% else %>
    <% if @user.exercise == "everytime" %>
      <%= (@user.weight*1.2).round(0) %>G
    <% else %>
      50g
    <% end %>

    <% if @user.exercise == "everytime" %>
      2200kcal
    <% elsif @user.exercise == "Sometimes" %>
      2000kcal
    <% else %>
      1800kcal
    <% end %>
    <% if @user.exercise == "everytime" %>
      330g
    <% elsif @user.exercise == "Sometimes" %>
      300g
    <% else %>
      270g
    <% end %>
<% end %>