<div class="record-container">
  <p class="page-title">今日の記録</p>
  <div class="goal-weight">目標体重:<%= @goal_weight %>kg</div>
</div>
<p class="index-left-items">本日のミッション</p>
<div class="index-left-items"><%= @today %></div>
<div class="index-left-items">
  <% if (@protein_amounts_sum - protein_amounts) >0 %>
    <p class="red-coment"><%="あと#{@protein_amounts_sum - protein_amounts}g食べましょう！" %></p>
  <% else %>
    <p class="green-coment">目標達成！！</p>
  <% end %>
</div>
<div class="index-left-items">
  <% if (@sugar_amounts_sum - sugar_amounts) >0 %>
    <p class="green-coment"><%="あと#{@sugar_amounts_sum - sugar_amounts}g食べれます" %></p>
  <%elsif (@sugar_amounts_sum - sugar_amounts) == 0 %>
    <p class="green-coment">ちょうどです</p>
  <% else %>
    <p class="red-coment"><%="#{(@sugar_amounts_sum - sugar_amounts).abs}gオーバしてます注意しましょう!!" %></p>
  <% end %>
</div>

<div class="index-left-items">
  <% if (@kcal_amounts_sum - kcal_amounts) > 0 %>
    <p class="green-coment"><%="あと#{@kcal_amounts_sum - kcal_amounts}kcal食べましょう！！" %></p>
  
  <%elsif @kcal_amounts_sum - kcal_amounts == 0 %>
    <p class="green-coment">ちょうどです</p>
  <% else %>
    <p class="red-coment"><%="#{(@kcal_amounts_sum - kcal_amounts).abs}kcalオーバしてます注意しましょう!!" %></p>
  <% end %>
</div>


<%= line_chart @data, width: "800px", height: "500px" %>