<div class="record-container">
  <p class="page-title">今日の記録</p>
  <div class="goal-weight">目標体重:<%= @goal_weight %>kg</div>
</div>
<p class="index-left-items"><%="#{Date.today}のミッション"%></p>
<div class="nutrition-item-container">
  <% if @protein_amounts_sum == 0 %>
    <li class = "green-coment"><%="タンパク質の目標は#{protein_amounts}gだよ！！" %></li>
  <% elsif (@protein_amounts_sum - protein_amounts) < 0  %>
    <li class="red-coment">注意</li>
    <li class="nutrition-item">タンパク質</li>
    <li class="red-coment"><%="目標まであと#{(@protein_amounts_sum - protein_amounts).abs}g頑張って！" %></li>
  <% else %>
    <li class="green-coment">○</li>
    <li class="nutrition-item">タンパク質</li>
    <li class="green-coment">目標達成！！</li>
  <% end %>
</div>
<div class="nutrition-item-container">
  <% if (@sugar_amounts_sum - sugar_amounts) > 0 %>
    <li class="red-coment">注意</li>
    <li class="nutrition-item">糖質</li>
    <li class="red-coment"><%="#{(@sugar_amounts_sum - sugar_amounts)}gオーバしてます注意しよう!!" %></li>
  <%elsif (@sugar_amounts_sum - sugar_amounts) == 0 %>
    <li class="green-coment">○</li>
    <li class="nutrition-item">糖質</li>
    <li class="green-coment">ちょうどだよ</li>
  <% else %>
  <li class="green-coment">○</li>
    <li class="nutrition-item">糖質</li>
    <li class="green-coment"><%="あと#{(@sugar_amounts_sum - sugar_amounts).abs}g食べれるよ！" %></li>
  <% end %>
</div>

<div class="nutrition-item-container">
  <% if (@kcal_amounts_sum - kcal_amounts) > 0 %>
    <li class="red-coment">注意</li>
    <li class="nutrition-item">カロリー</li>
    <li class="red-coment"><%="#{(@kcal_amounts_sum - kcal_amounts)}kcalオーバしてます注意しよう!!" %></li>
  <%elsif @kcal_amounts_sum - kcal_amounts == 0 %>
  <li class="green-coment">○</li>
    <li class="nutrition-item">カロリー</li>
    <li class="green-coment">ちょうどだよ</li>
  <% else %>
    <li class="green-coment">○</li>
    <li class="nutrition-item">カロリー</li>
    <li class="green-coment"><%="あと#{(@kcal_amounts_sum - kcal_amounts).abs}kcal食べれるよ！" %></li>
  <% end %>
</div>
<%# <%binding.pry%> %>
<%= line_chart @weight_graph_data.group_by_day(:date, series: false).average(:weight),height: "400px",xtitle: "日", ytitle: "体重",min: 30, max: 80, curve: false %>
<%# <%= line_chart @data, id: "users-chart", width: "800px", height: "500px", xtitle: "日付(月)", ytitle: "体重(kg)" , min: 20, max: 200, xmin: "Time.current.ago(7.days)", xmax: "Date.today", decimal: "," %> %>
