<p class="page-explanation">今日の記録</p>
<div class="main-container">
  <div class="main-left-container position-body">
    <p class="today-mission"><%="#{Date.today}のミッション"%></p>
    <div class="judge-item-container">
      <% if @protein_amounts_sums == 0 %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">タンパク質</li>
        <li class="blue-judgement"><%="タンパク質の目標は#{protein_amounts}gだよ!!" %></li>
      <% elsif (@protein_amounts_sums - protein_amounts) < 0  %>
        <li class="red-judgement">注意</li>
        <li class="nutrition-item">タンパク質</li>
        <li class="red-judgement"><%="目標まであと#{(@protein_amounts_sums - protein_amounts).abs}g頑張って！" %></li>
      <% else %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">タンパク質</li>
        <li class="blue-judgement">目標達成!!</li>
      <% end %>
    </div>

    <div class="judge-item-container">
      <% if (@sugar_amounts_sums - sugar_amounts) > 0 %>
        <li class="red-judgement">注意</li>
        <li class="nutrition-item">糖質</li>
        <li class="red-judgement"><%="#{(@sugar_amounts_sum - sugar_amounts)}gオーバしてます注意しよう!!" %></li>
      <% elsif (@sugar_amounts_sums - sugar_amounts) == 0 %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">糖質</li>
        <li class="blue-judgement">ちょうどだよ</li>
      <% else %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">糖質</li>
        <li class="blue-judgement"><%="あと#{(@sugar_amounts_sums - sugar_amounts).abs}g食べれるよ！" %></li>
      <% end %>
    </div>

    <div class="judge-item-container">
      <% if (@kcal_amounts_sums - kcal_amounts) > 0 %>
        <li class="red-judgement">注意</li>
        <li class="nutrition-item">カロリー</li>
        <li class="red-judgement"><%="#{(@kcal_amounts_sums - kcal_amounts)}kcalオーバしてます注意しよう!!" %></li>
      <% elsif @kcal_amounts_sums - kcal_amounts == 0 %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">カロリー</li>
        <li class="blue-judgement">ちょうどだよ</li>
      <% else %>
        <li class="blue-judgement">○</li>
        <li class="nutrition-item">カロリー</li>
        <li class="blue-judgement"><%="あと#{(@kcal_amounts_sums - kcal_amounts).abs}kcal食べれるよ！" %></li>
      <% end %>
    </div>
    <%= image_tag "images.jpg", size: "500x300", class: "energy-index-img" %>
  </div><!--main-left-container-->

  <div class="main-right-container">
    <p class="goal-weight">目標体重:<%= @goal_weight %>kg</p>
    <p class="graph-name">【<%=@graph_sort%>のグラフ】</p>
    <div class="graph-container">
      <%= line_chart @weight_graphs, height: "500px", width: "700px", xtitle: "日付", ytitle: "体重（kg）", min: @today_weight-20, max: @today_weight+10, colors: ["pink", "#999"], empty: "データがありません体重を登録してください" %>
    </div>
    <div class="link_container">
      <%= link_to "１週間", energys_path(params_datas: Time.current.ago(7.days), graph_sort: "１週間"), class: "graph-btn" %>
      <%= link_to "１ヶ月間", energys_path(params_datas: Time.current.ago(1.month), graph_sort: "１ヶ月間"), class: "graph-btn" %>
      <%= link_to "半年間", energys_path(params_datas: Time.current.ago(6.month), graph_sort: "半年間"), class: "graph-btn" %>
      <%= link_to "１年間", energys_path(params_datas: Time.current.ago(1.years), graph_sort: "１年間"), class: "graph-btn" %>
      <%= link_to "全件", energys_path(params_datas: Time.current.ago(5.years), graph_sort: "全件"), class: "graph-btn" %>
    </div>
  </div><!--main-right-container-->
</div><!--main-container-->