<div class="body-container">
  <p class="page-explanation">登録した履歴を見てみましょう</p>
  <div class="form-container">
    <%= form_with url: list_energy_path(current_user.id),local:true do |f| %>
      <p class="radio-title">日付</p> 
      <%= f.date_field :date, {value: @date, class: "date_field"} %>
      <%=f.submit "決定", class: "small-green-btn"%>
    <% end %>
    <p class="record-list">体重</p>
    <% @weights.each do |weight| %>
      <div class="record-weigth-container">
        <p class="record-items"><%= weight.weight%></p>
        <p class="record-items"><%= link_to "編集", edit_day_path(weight.id), class: "small-orange-btn" %></p>
        <p class="record-items"><%= link_to "削除", day_path(weight.id), method: :delete, data: { confirm: "削除しますか？" }, class: "small-red-btn" %></p>
      </div>
    <% end %>
    <p class="record-list">食事</p>
    <table class="table-container">
      <% @energys.each do |energy|%>
        <tr class="table-title">
          <td></td>
          <td>タンパク質</td>
          <td>糖質</td>
          <td>カロリー</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <% meal = energy.meal %>
          <% if meal == "morning"%>
            <td>朝</td>
          <% elsif meal == "lunch" %>
            <td>昼</td>
          <% elsif meal == "night" %>
            <td>夜</td>
          <% else %>
            <td>間食</td>
          <% end %>
          <td><%= energy.protein%>g</td>
          <td><%= energy.sugar%>g</td>
          <td><%= energy.kcal%>kcal</td>
          <td><%= link_to "編集", edit_energy_path(energy.id), class: "food-edit-btn" %></td>
          <td><%= link_to "削除", energy_path(energy.id), method: :delete, data: { confirm: "削除しますか？" }, class: "food-delete-btn"%></td>
        <% end %>
      </tr>
    </table>   
  </div><!--form-container-->
</div><!--body-container-->