<h2 class="page-title">日々の履歴</h2>
<ul class="form-container">
  <%= form_with url: list_energy_path(current_user.id),local:true do |f| %>
    <p class="radio-title">日付</p> 
    <%= f.date_select :date, {selected: @date, use_month_numbers: true, start_year:2020, end_year: Time.now.year, date_separator: '/'}, {class: "date_field"}%>
    <%=f.submit "決定", class: "small-date-btn"%>
  <% end %>
  <li class="record-list">体重</li>
  <% @weight.each do |weight| %>
    <div class="record-container">
      <p class="record-items"><%= weight.weight%></p>
      <p class="record-items"><%= link_to "編集", edit_day_path(weight.id) %></p>
      <p class="record-items"><%= link_to "削除", day_path(weight.id), method: :delete, data: { confirm: "削除しますか？" }%></p>
    </div>
  <% end %>
  <li class="record-list">食事</li>
  <div class="record-container">
    <div class="record-item-left">タンパク質</div>
    <div class="record-item-center">糖質</div>
    <div class="record-item-right">カロリー</div>
  </div>
  <% @energys.each do |energy|%>
    <div class="record-container">
      <% meal = energy.meal %>
      <% if meal == "morning"%>
        <p class="record-items">朝</p>
      <% elsif meal == "lunch" %>
        <p class="record-items">昼</p>
      <% elsif meal == "night" %>
        <p class="record-items">夜</p>
      <% else %>
        <p class="record-items">間食</p>
      <% end %>
      <p class="record-item-left"><%= energy.protein%>g</p>
      <p class="record-item-center"><%= energy.sugar%>g</p>
      <p class="record-item-right"><%= energy.kcal%>kcal</p>
      <p class="record-items"><%= link_to "編集", edit_energy_path(energy.id) %></p>
      <p class="record-items"><%= link_to "削除", energy_path(energy.id), method: :delete, data: { confirm: "削除しますか？" }%></p>
    </div>
  <% end %>
</ul>