<h2 class="page-title">食材登録</h2>
<p class="sub-explanation">食べたものを記録してみましょう</p>
<p class="red-text">※タンパク質は１食につき30gまでしか吸収されないためそれ以上は入力できません</p>
<p class="red-text">※また糖質の量がわからない時は炭水化物の量を入力してください</p>
<%=render 'layouts/error_message' %>
<div class="form-container">

  <%= form_with model: @energy, url: energys_path(@user), method: :post, local: true do |f| %>
    
    <%= f.label :protein, "タンパク質(g)", {class: 'label-class'}%>
    <%= f.number_field :protein, step: "0", class: "form-field", required:"required", min: 0, max: 30 %>

    <%= f.label :sugar, "糖質(g)", {class: 'label-class'}%>
    <%= f.number_field :sugar, step: "0", class: "form-field", required:"required", min: 0 %>

    <%= f.label :kcal, "カロリー(kcal)", {class: 'label-class'}%>
    <%= f.number_field :kcal, step: "0", class: "form-field", required:"required", min: 0 %>
    <div class="btn-container">
      <%= link_to "戻る", energys_path, class:"back-btn" %>
      <%= f.submit "登録する", class: "yellow-btn"%>
    </div> 
  <% end %>
</div>