<p class="page-title">食べたものを記録してみましょう</p>
<%=render 'layouts/error_message' %>
<div class="form-container">

  <%= form_with model: @energy, url: energys_path(@user), method: :post, local: true do |f| %>
    
    <p class="radio-title">日付</p>
    <%= f.radio_button :date, :man, checked: true %>
    <%= f.label :date, "今日", {value: :man}%>
                
    <%= f.radio_button :date, :woman %>
    <%= f.label :date, "昨日", {value: :woman}%>
    
    <p class="radio-title">食事</p>
    <%= f.radio_button :meal, :morning, checked: true %>
    <%= f.label :meal, "朝", {value: :morning}%>
                
    <%= f.radio_button :meal, :lunch %>
    <%= f.label :meal, "昼", {value: :lunch}%>

    <%= f.radio_button :meal, :night %>
    <%= f.label :meal, "夜", {value: :night}%>

    <%= f.radio_button :meal, :snack %>
    <%= f.label :meal, "間食", {value: :snack}%>

    <p class="red-text">朝昼夜は1日に１回づつしか登録できません</p>

    <%= f.label :protein, "タンパク質(g)", {class: 'label-class'}%>
    <%= f.number_field :protein, step: "0", class: "form-field", required:"required", min: 0, max: 30 %>
    <p class="red-text">※タンパク質は１食につき30gまでしか吸収されないためそれ以上は入力できません</p>

    <%= f.label :sugar, "糖質(g)", {class: 'label-class'}%>
    <%= f.number_field :sugar, step: "0", class: "form-field", required:"required", min: 0 %>
    <p class="red-text">※糖質の量が分からない時は炭水化物の量を入力してください</p>

    <%= f.label :kcal, "カロリー(kcal)", {class: 'label-class'}%>
    <%= f.number_field :kcal, step: "0", class: "form-field", required:"required", min: 0 %>
    <div class="btn-container">
      <%= link_to "戻る", energys_path, class:"back-btn" %>
      <%= f.submit "登録する", class: "yellow-btn"%>
    </div> 
  <% end %>
</div>