<h2 class="page-title">日々の履歴</h2>
<ul class="form-container">
  <li class="record-list">食事履歴</li>
  <div class="record-container">
    <div class="record-item">タンパク質</div>
    <div class="record-item">糖質</div>
    <div class="record-item">カロリー</div>
  </div>
 <div class="record-container"> 
  <li class="record-item">朝</li>
  <p class="radio-title">日付</p>
  <%# <%= link_to "テスト", energy_path(@date)%> %>
    <%binding.pry%>
  <% @energys.each do |energy| %>
    <li class="record-item">
      <%= energy.protein %>g
    </li>
    <li class="record-item">
      <%= energy.sugar%>g
    </li>

    <li class="record-item">
      <%= energy.kcal%>kcal
    </li>
      <%= link_to "編集", edit_energy_path%>
      <%= link_to "削除", energy_path(energy.id), method: :delete %>
  <% end %>


  </div>

