<header class="header">
  <nav class="header-nav">
    <ul class="header-ul">
      <% if user_signed_in? %>
        <li><%= link_to "healthier", energys_path, class: "header-logo" %></li>
        <div class="header-container">
          <li class="header-items"><%= link_to "食事登録", new_energy_path %></li>
          <li class="header-items"><%= link_to "体重入力", new_day_path %></li>
          <li class="header-items"><%= link_to "日々の履歴", list_energy_path(current_user.id) %></li>
          <li class="header-items"><%= link_to "ミッション履歴", record_energy_path(current_user) %></li>
          <li class="header-items"><%= link_to "プロフィール", edit_user_registration_path %></li>
          <li class="header-items"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </div>
      <% elsif current_page?(root_path) %>
          <li><%= link_to "healthier", root_path, class: "header-logo" %></li>
        <div class="header-container">
          <li class="header-items"><%= link_to "ログイン", new_user_session_path %></li>
          <li class="header-items"><%= link_to "会員登録" , new_user_registration_path %></li>
        </div>
      <% else %>
        <li><%= link_to "healthier", root_path, class: "header-logo" %></li>
      <% end %>
    </ul>
  </nav>
</header>